<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> @ViewBag.Title | Module </title>
    <link rel="shortcut icon" type="image/svg" href="~/adminassets/img/adminltelogo.png" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/adminassets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link href="~/adminassets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- Tempusdominus Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/adminassets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/adminassets/plugins/jqvmap/jqvmap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/adminassets/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/adminassets/plugins/overlayscrollbars/css/overlayscrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/adminassets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/adminassets/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <!-- css -->
    <link href="~/adminassets/css/style.css" rel="stylesheet" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <link href="~/adminassets/style/productdetail.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.css" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper" style="margin-top: -25px">

        @* <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="~/adminassets/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div> *@

        <!-- Navbar -->
        @await Html.PartialAsync("_NavBar.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("_SideBarPartialView.cshtml")
        <!-- /. Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.Title</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Back to Dashboard</a></li>
                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>
    <!-- ./wrapper -->
    @await Html.PartialAsync("_Footer.cshtml")




    <!-- jQuery -->
    <script src="~/adminassets/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/adminassets/plugins/jquery-ui/jquery-ui.min.css"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/adminassets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/adminassets/plugins/chart.js/chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/adminassets/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/adminassets/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/adminassets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/adminassets/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/adminassets/plugins/moment/moment.min.js"></script>
    <script src="~/adminassets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/adminassets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/adminassets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/adminassets/plugins/overlayscrollbars/js/jquery.overlayscrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminassets/dist/js/adminlte.js"></script>

    @* <!-- AdminLTE for demo purposes -->
    <script src="~/adminassets/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) --> *@
    <script src="~/adminassets/dist/js/pages/dashboard.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required:false)


    <!-- DataTables  & Plugins -->
    <script src="~/AdminAssets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminAssets/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminAssets/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminAssets/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminAssets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- Bao gồm tệp JavaScript của Summernote và jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>


    @*     <!-- AdminLTE App -->
    <script src="~/AdminAssets/dist/js/adminlte.min.js"></script> *@
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

    @* <script>
        $(document).ready(function () {
            $('#noidung-baibao').summernote({
                height: 300, // Độ cao của trình soạn thảo
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['color', ['forecolor']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'picture', 'video']],
                ],
                callbacks: {
                    onImageUpload: function (files) {
                        // Xử lý tải lên hình ảnh và chèn vào trình soạn thảo
                    }
                }
            });
        });
    </script> *@

</body>
</html>
